.btn{
  width: 99px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 6px;
  background: rgb(224, 14, 10);
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}